.products-container {
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: space-around;
  margin-bottom: 25px;
}
.product-card {
  height: 300px;
  margin-top: 25px;
}

.filters-section {
  height: 100px;
}
